.orders_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orders_container {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
}


.orders_container::-webkit-scrollbar {
  height: 10px;
  background-color: #d3d3d3;
}

.orders_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.orders_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.orders_container::-webkit-scrollbar-track {
  background-color: #d3d3d3;
  border: 1px solid #888;
  border-radius: 10px;
}

.orders_total__container {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.orders_total {
  font-size: 26px;
  font-weight: 500;
}

.order_item_wrapper {
  width: 100%;
  transition: width 0.5s ease;
}

.unselectedItem {
  width: 100%;
  transition: width 0.5s ease;
}

.order_container {
  width: 2000px;
  display: flex;
  gap: 30px;
}

.selectedItemw > .items_content_container{
  opacity: 0;
}

.order_row {
  width: 100%;
  transition: all 0.5s ease;
}
