.products_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products_container {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
}


.products_container::-webkit-scrollbar {
  height: 10px;
  background-color: #d3d3d3;
}

.products_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.products_container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.products_container::-webkit-scrollbar-track {
  background-color: #d3d3d3;
  border: 1px solid #888;
  border-radius: 10px;
}

.products_total__container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.products_total {
  font-size: 26px;
  font-weight: 500;
}

.product_container {
  display: flex;
  gap: 30px;
}

.products_filter {
  width: fit-content;
  margin-left: 20px;
}

.fadeEnter {
  opacity: 0;
  transform: translateY(-20px);
}

.fadeEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fadeExit {
  opacity: 1;
  transform: translateY(0);
}

.fadeExitActive {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.fadeAppear {
  opacity: 0;
  transform: translateY(-20px);
}

.fadeAppearActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

