.orders_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
}

.orders_container {
  width: 100%;
}

.orders_plus__icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35px;
  width: 35px;
  border: 5px solid green;
  border-radius: 60%;
  color: #fff;
  background-color: #64a63d;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.orders_total__container {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.orders_total {
  font-size: 26px;
  font-weight: 500;
}

.order_item_wrapper {
  width: 100%;
  transition: width 0.5s ease;
}

.unselectedItem {
  width: 100%;
  transition: width 0.5s ease;
}

.container_container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.selectedItem > .order_row{
  width: 35%;
}

.selectedItem > .items_content_container{
  width: 65%;
}

.selectedItemw > .items_content_container{
  opacity: 0;
}

.order_row {
  width: 100%;
  transition: all 0.5s ease;
}

.order_products {
  flex-grow: 4;
  width: 0%;
  transition: all 0.5s ease;
  max-height: fit-content;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}

.order_title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.order_add__wrapper {
  display: inline-flex;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add_order {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: #4CAF50;
  border-radius: 50%;
  color: #fff;
}

.add_order__title {
  color: #4CAF50
}

.order_add__wrapper:hover .add_order {
  background-color: #266028;
}

.order_add__wrapper:hover .add_order__title {
  color: #266028
}

.products_close {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);
}