.content_container {
  height: 100vh;
  overflow: hidden;
}

.flex-grow-1 {
  flex-grow: 1;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: lightgray;
  padding-top: 60px;
}
